#cover {
    background-color: #e8e8e8;
}

#cover-caption {
    padding-top: 10%;
    padding-bottom: 10%
}

#about {
    padding-top: 3%;
}

#sponsors-section{
    padding-top: 30px;
}
.sponsors {
    text-align: center;
}

.sponsor-logo {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding-top: 20px;
}

.sponsor-logo li{
    display: inline-block;
    padding-right: 30px;
}

#about-section {
    padding-top: 30px;
}

#detail-section {
    background-color: #e8e8e8;
    padding-top: 60px;
    padding-bottom: 30px;
}

.icon-with-text {
    margin-bottom: 5px;
}

.icon-inline {
    line-height: 120%;
    vertical-align: middle;
    margin-top: -3px;
    padding-right: 40px;
}

#form-section {
    background-color: #c3c3c3;
    padding-top: 60px;
    padding-bottom: 30px;
}

.move-up {
    margin-top: -370px;
}

@media (max-width: 575px) {
    .move-up {
    margin-top: 0px;
}
}

@media (max-width: 768px) {
  .move-up {
    margin-top: 0px;
} 
}

#divider-section-1 {
    background-color: #c3c3c3; 
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

#story-section {
    padding-top: 60px;
    padding-bottom: 40px;
}